# TRABAJANDO CON PANDAS

### Encontrar variables con alta correlaci√≥n

In [1]:
# Importar la libreria pandas
import pandas as pd

In [2]:
#Redireccionar el csv en una bd con nombre aire
aire = pd.read_csv("air.csv")

In [3]:
#Mostrar los primeros elementos de la data aire
aire.head()

#Se aprecia:
# El formato fecha (18.00.00) esta separado por puntos
# La fecha esta en DD/MM/YY
# No tengo missing (datos faltantes)

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/3/2004,18.00.00,2.6,1360,150.0,11.9,1046,166,1056,113,1692,1268.0,13.6,48.9,0.7578
1,10/3/2004,19.00.00,2.0,1292,112.0,9.4,955,103,1174,92,1559,972.0,13.3,47.7,0.7255
2,10/3/2004,20.00.00,2.2,1402,88.0,9.0,939,131,1140,114,1555,1074.0,11.9,54.0,0.7502
3,10/3/2004,21.00.00,2.2,1376,80.0,9.2,948,172,1092,122,1584,1203.0,11.0,60.0,0.7867
4,10/3/2004,22.00.00,1.6,1272,51.0,6.5,836,131,1205,116,1490,1110.0,11.2,59.6,0.7888

In [4]:
#Mostrar los √∫ltimos elementos de la data aire
aire.tail()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
9352,4/4/2005,10.00.00,3.1,1314,-200.0,13.5,1101,472,539,190,1374,1729.0,21.9,29.3,0.7568
9353,4/4/2005,11.00.00,2.4,1163,-200.0,11.4,1027,353,604,179,1264,1269.0,24.3,23.7,0.7119
9354,4/4/2005,12.00.00,2.4,1142,-200.0,12.4,1063,293,603,175,1241,1092.0,26.9,18.3,0.6406
9355,4/4/2005,13.00.00,2.1,1003,-200.0,9.5,961,235,702,156,1041,770.0,28.3,13.5,0.5139
9356,4/4/2005,14.00.00,2.2,1071,-200.0,11.9,1047,265,654,168,1129,816.0,28.5,13.1,0.5028

In [5]:
#Mostrar las estad√≠sticas b√°sicas de la data aire
aire.describe()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
count,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9356.000000
mean,-34.033536,1048.816074,-159.066485,2.004628,894.432724,168.696484,794.910655,58.360372,1391.462755,974.900780,9.782430,39.479397,-6.838464
std,79.096080,330.062067,139.800836,43.568942,342.491834,257.434899,322.147362,128.153143,467.198972,456.996348,43.206308,51.217345,38.978664
min,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000
25%,0.600000,921.000000,-200.000000,4.000000,711.000000,50.000000,637.000000,53.000000,1185.000000,700.000000,10.900000,34.100000,0.692250
50%,1.500000,1053.000000,-200.000000,7.900000,895.000000,141.000000,794.000000,96.000000,1446.000000,942.000000,17.200000,48.500000,0.976800
75%,2.600000,1221.000000,-200.000000,13.600000,1105.000000,284.000000,960.000000,133.000000,1662.000000,1255.000000,24.100000,61.900000,1.296300
max,1428.000000,2040.000000,1189.000000,1321.000000,2214.000000,1479.000000,2683.000000,1779.000000,2775.000000,2523.000000,57.200000,88.700000,2.231000

In [6]:
#Mostrando la columna Time
aire['Time']

0       18.00.00
1       19.00.00
2       20.00.00
3       21.00.00
4       22.00.00
          ...
9352    10.00.00
9353    11.00.00
9354    12.00.00
9355    13.00.00
9356    14.00.00
Name: Time, Length: 9357, dtype: object

In [7]:
# Deseo reemplazar "." por ":"
aire['Time'].replace('.',':')

#Para este tipo de datos el replace no cumple su funci√≥n

0       18.00.00
1       19.00.00
2       20.00.00
3       21.00.00
4       22.00.00
          ...
9352    10.00.00
9353    11.00.00
9354    12.00.00
9355    13.00.00
9356    14.00.00
Name: Time, Length: 9357, dtype: object

In [8]:
#El replace con el string si cambia
"19.00.00".replace('.',':')

'19:00:00'

In [9]:
aire['Time']= aire['Time'].replace(to_replace='.', value=':')
aire['Time']

0       18.00.00
1       19.00.00
2       20.00.00
3       21.00.00
4       22.00.00
          ...
9352    10.00.00
9353    11.00.00
9354    12.00.00
9355    13.00.00
9356    14.00.00
Name: Time, Length: 9357, dtype: object

In [10]:
aire['Time'].head()

0    18.00.00
1    19.00.00
2    20.00.00
3    21.00.00
4    22.00.00
Name: Time, dtype: object

In [11]:
#Usando apply (aplica a la serie una funci√≥n lambda, la cual solo existe mientras se corra el apply)
aire['Time'].apply(lambda x: x.replace('.',':'))[:10]

0    18:00:00
1    19:00:00
2    20:00:00
3    21:00:00
4    22:00:00
5    23:00:00
6    00:00:00
7    01:00:00
8    02:00:00
9    03:00:00
Name: Time, dtype: object

In [12]:
#Los cambios se est√°n guardando en timeNuevo
timeNuevo = aire['Time'].apply(lambda x: x.replace('.',':'))
timeNuevo

0       18:00:00
1       19:00:00
2       20:00:00
3       21:00:00
4       22:00:00
          ...
9352    10:00:00
9353    11:00:00
9354    12:00:00
9355    13:00:00
9356    14:00:00
Name: Time, Length: 9357, dtype: object

In [13]:
# Aqui si reemplaza por que le indico que estoy trabajando con regex
aire['Time'].replace("\.",":", regex= True)[:10]

0    18:00:00
1    19:00:00
2    20:00:00
3    21:00:00
4    22:00:00
5    23:00:00
6    00:00:00
7    01:00:00
8    02:00:00
9    03:00:00
Name: Time, dtype: object

In [14]:
aire['Time'].replace("19.00.00", ":")

0       18.00.00
1              :
2       20.00.00
3       21.00.00
4       22.00.00
          ...
9352    10.00.00
9353    11.00.00
9354    12.00.00
9355    13.00.00
9356    14.00.00
Name: Time, Length: 9357, dtype: object

In [15]:
#Asignando el valor correcto a la columna Time
aire['Time'] = aire['Time'].apply(lambda x: x.replace('.',':'))
aire['Time'].head()

0    18:00:00
1    19:00:00
2    20:00:00
3    21:00:00
4    22:00:00
Name: Time, dtype: object

In [16]:
aire.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/3/2004,18:00:00,2.6,1360,150.0,11.9,1046,166,1056,113,1692,1268.0,13.6,48.9,0.7578
1,10/3/2004,19:00:00,2.0,1292,112.0,9.4,955,103,1174,92,1559,972.0,13.3,47.7,0.7255
2,10/3/2004,20:00:00,2.2,1402,88.0,9.0,939,131,1140,114,1555,1074.0,11.9,54.0,0.7502
3,10/3/2004,21:00:00,2.2,1376,80.0,9.2,948,172,1092,122,1584,1203.0,11.0,60.0,0.7867
4,10/3/2004,22:00:00,1.6,1272,51.0,6.5,836,131,1205,116,1490,1110.0,11.2,59.6,0.7888

In [17]:
#Creaci√≥n de diccionario
{'llave':'valor'}
dicc = {'llave':'valor','llave2':'valor2'}

In [18]:
dicc['llave']

'valor'

In [19]:
dicc['llave2']

'valor2'

In [20]:
dicc['llave3']='valor3'
dicc['llave3']

'valor3'

In [21]:
dicc

{'llave': 'valor', 'llave2': 'valor2', 'llave3': 'valor3'}

In [22]:
#Cambiando el nombre a las columnas por diccionario
aire.columns

Index(['Date', 'Time', 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)',
       'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)',
       'PT08.S5(O3)', 'T', 'RH', 'AH'],
      dtype='object')

In [23]:
#Creando el diccionario "nombre_columnas"
nombre_columnas = {
    "Date": "Fecha",
    "Time": "Hora",
    "CO(GT)": "CO",
    "PT08.S1(CO)": "oxEst",
    "NMHC(GT)": "NMHC",
    "C6H6(GT)": "Benz",
    "PT08.S2(NMHC)": "Titania",
    "NOx(GT)": "NOx",
    "PT08.S3(NOx)": "oxTung",
    "NO2(GT)": "NO2",
    "PT08.S4(NO2)": "oxTung_2",
    "PT08.S5(O3)": "oxInd",
    "T": "Temp",
    "RH": "humRel",
    "AH": "humAbs",
}

In [24]:
#Con rename cambiamos colums por el diccionario
#Con inplace ya no hay la necesidad de redirijir todo el cambio a la data
aire.rename(columns = nombre_columnas, inplace = True)

In [25]:
aire.head()

,Fecha,Hora,CO,oxEst,NMHC,Benz,Titania,NOx,oxTung,NO2,oxTung_2,oxInd,Temp,humRel,humAbs
0,10/3/2004,18:00:00,2.6,1360,150.0,11.9,1046,166,1056,113,1692,1268.0,13.6,48.9,0.7578
1,10/3/2004,19:00:00,2.0,1292,112.0,9.4,955,103,1174,92,1559,972.0,13.3,47.7,0.7255
2,10/3/2004,20:00:00,2.2,1402,88.0,9.0,939,131,1140,114,1555,1074.0,11.9,54.0,0.7502
3,10/3/2004,21:00:00,2.2,1376,80.0,9.2,948,172,1092,122,1584,1203.0,11.0,60.0,0.7867
4,10/3/2004,22:00:00,1.6,1272,51.0,6.5,836,131,1205,116,1490,1110.0,11.2,59.6,0.7888

In [26]:
#Se desea ver el comportamiento en el timpo del set de datos
#Hora y fecha deben de estar en formatos ideal
#Unique me muestra todas las horas unicas
#Sort ordena 
aire['Hora'].sort_values().unique()

array(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00',
       '05:00:00', '06:00:00', '07:00:00', '08:00:00', '09:00:00',
       '09:00:00:-200', '10:00:00', '11:00:00', '12:00:00', '13:00:00',
       '14:00:00', '15:00:00', '16:00:00', '17:00:00', '18:00:00',
       '19:00:00', '20:00:00', '21:00:00', '22:00:00', '23:00:00',
       '4:00:00'], dtype=object)

In [29]:
#Son 26 horas
len(aire['Hora'].unique())

26

In [30]:
aire['Hora']

0       18:00:00
1       19:00:00
2       20:00:00
3       21:00:00
4       22:00:00
          ...
9352    10:00:00
9353    11:00:00
9354    12:00:00
9355    13:00:00
9356    14:00:00
Name: Hora, Length: 9357, dtype: object

In [31]:
#Muestrame las posiciones donde mi Hora es igual a '19:00:00'
#1¬∞ lo guardo en una m√°scara
mask = (aire['Hora'] == '04:00:00')

In [32]:
#2¬∞ Le pido que me muestre las filas donde est√° ese valor '19:00:00'
aire[mask]

,Fecha,Hora,CO,oxEst,NMHC,Benz,Titania,NOx,oxTung,NO2,oxTung_2,oxInd,Temp,humRel,humAbs
10,11/3/2004,04:00:00,-200.0,1011,14.0,1.3,527,21,1818,34,1197,445.0,10.1,60.5,0.7465
34,12/3/2004,04:00:00,-200.0,831,10.0,1.1,506,21,1893,32,1134,384.0,6.1,65.9,0.6248
58,13/03/2004,04:00:00,-200.0,1147,56.0,6.2,821,109,1132,83,1412,992.0,7.0,71.1,0.7158
82,14/03/2004,04:00:00,-200.0,1130,56.0,5.2,773,70,1130,82,1452,1051.0,12.1,61.1,0.8603
106,15/03/2004,04:00:00,-200.0,1078,44.0,4.0,711,66,1150,71,1468,1013.0,12.3,65.4,0.9351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9250,31/03/2005,04:00:00,0.5,884,-200.0,1.6,556,73,965,54,1135,708.0,12.9,72.7,1.0760
9274,1/4/2005,04:00:00,-200.0,818,-200.0,0.8,473,47,1257,41,898,323.0,13.7,48.8,0.7606
9298,2/4/2005,04:00:00,0.4,815,-200.0,0.9,488,63,1223,49,742,326.0,11.2,38.3,0.5099
9322,3/4/2005,04:00:00,0.5,850,-200.0,2.0,583,83,955,64,914,589.0,10.1,49.7,0.6122
9346,4/4/2005,04:00:00,-200.0,864,-200.0,0.8,478,52,1116,43,958,489.0,11.8,56.0,0.7743

In [35]:
#iloc = referencaindo por √≠ndices
#iloc es la ubicaci√≥n numerica de la fila x columna
aire.iloc[10,1]

'04:00:00'

In [36]:
#iloc es la ubicaci√≥n numerica de la fila x columna
aire.iloc[9,1]

'03:00:00'

In [37]:
aire.iloc[1,3]

1292

In [38]:
aire.loc[1,'oxEst']

1292

In [41]:
#Cambiando una hora defectuosa
aire['Hora'].replace('4:00:00','04:00:00',inplace=True)
aire['Hora'].replace('09:00:00:-200','09:00:00',inplace=True)

In [42]:
aire['Hora'].sort_values().unique()

array(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00',
       '05:00:00', '06:00:00', '07:00:00', '08:00:00', '09:00:00',
       '10:00:00', '11:00:00', '12:00:00', '13:00:00', '14:00:00',
       '15:00:00', '16:00:00', '17:00:00', '18:00:00', '19:00:00',
       '20:00:00', '21:00:00', '22:00:00', '23:00:00'], dtype=object)

In [44]:
#Corroboramos la longitud
len(aire['Hora'].unique())

24

In [47]:
#Voy a generar un string de fecha-hora para convertir a una columna datetime
aire['Fecha']+' '+aire['Hora']

0       10/3/2004 18:00:00
1       10/3/2004 19:00:00
2       10/3/2004 20:00:00
3       10/3/2004 21:00:00
4       10/3/2004 22:00:00
               ...
9352     4/4/2005 10:00:00
9353     4/4/2005 11:00:00
9354     4/4/2005 12:00:00
9355     4/4/2005 13:00:00
9356     4/4/2005 14:00:00
Length: 9357, dtype: object

In [73]:
#obteniendo el primer valor
stringVal = aire['Fecha']+' '+aire['Hora']
type(stringVal.values[0])

#El string lo paso a un formato de fecha

str

In [74]:
aire['dt']= pd.to_datetime(aire['Fecha']+' '+aire['Hora'], format="%d/%m/%Y %H:%M:%S")
aire['dt']

dt
2004-03-10 18:00:00   2004-03-10 18:00:00
2004-03-10 19:00:00   2004-03-10 19:00:00
2004-03-10 20:00:00   2004-03-10 20:00:00
2004-03-10 21:00:00   2004-03-10 21:00:00
2004-03-10 22:00:00   2004-03-10 22:00:00
                              ...
2005-04-04 10:00:00   2005-04-04 10:00:00
2005-04-04 11:00:00   2005-04-04 11:00:00
2005-04-04 12:00:00   2005-04-04 12:00:00
2005-04-04 13:00:00   2005-04-04 13:00:00
2005-04-04 14:00:00   2005-04-04 14:00:00
Name: dt, Length: 9357, dtype: datetime64[ns]

In [75]:
type(aire['dt'].values[0])

numpy.datetime64

In [76]:
aire['dt'].apply(lambda x: x.hour)

dt
2004-03-10 18:00:00    18
2004-03-10 19:00:00    19
2004-03-10 20:00:00    20
2004-03-10 21:00:00    21
2004-03-10 22:00:00    22
                       ..
2005-04-04 10:00:00    10
2005-04-04 11:00:00    11
2005-04-04 12:00:00    12
2005-04-04 13:00:00    13
2005-04-04 14:00:00    14
Name: dt, Length: 9357, dtype: int64

In [77]:
aire['dt'].apply(lambda x: x.date())

dt
2004-03-10 18:00:00    2004-03-10
2004-03-10 19:00:00    2004-03-10
2004-03-10 20:00:00    2004-03-10
2004-03-10 21:00:00    2004-03-10
2004-03-10 22:00:00    2004-03-10
                          ...
2005-04-04 10:00:00    2005-04-04
2005-04-04 11:00:00    2005-04-04
2005-04-04 12:00:00    2005-04-04
2005-04-04 13:00:00    2005-04-04
2005-04-04 14:00:00    2005-04-04
Name: dt, Length: 9357, dtype: object

In [78]:
aire.set_index('dt')

,Fecha,Hora,CO,oxEst,NMHC,Benz,Titania,NOx,oxTung,NO2,oxTung_2,oxInd,Temp,humRel,humAbs
dt,,,,,,,,,,,,,,,
2004-03-10 18:00:00,10/3/2004,18:00:00,2.6,1360,150.0,11.9,1046,166,1056,113,1692,1268.0,13.6,48.9,0.7578
2004-03-10 19:00:00,10/3/2004,19:00:00,2.0,1292,112.0,9.4,955,103,1174,92,1559,972.0,13.3,47.7,0.7255
2004-03-10 20:00:00,10/3/2004,20:00:00,2.2,1402,88.0,9.0,939,131,1140,114,1555,1074.0,11.9,54.0,0.7502
2004-03-10 21:00:00,10/3/2004,21:00:00,2.2,1376,80.0,9.2,948,172,1092,122,1584,1203.0,11.0,60.0,0.7867
2004-03-10 22:00:00,10/3/2004,22:00:00,1.6,1272,51.0,6.5,836,131,1205,116,1490,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005-04-04 10:00:00,4/4/2005,10:00:00,3.1,1314,-200.0,13.5,1101,472,539,190,1374,1729.0,21.9,29.3,0.7568
2005-04-04 11:00:00,4/4/2005,11:00:00,2.4,1163,-200.0,11.4,1027,353,604,179,1264,1269.0,24.3,23.7,0.7119
2005-04-04 12:00:00,4/4/2005,12:00:00,2.4,1142,-200.0,12.4,1063,293,603,175,1241,1092.0,26.9,18.3,0.6406
2005-04-04 13:00:00,4/4/2005,13:00:00,2.1,1003,-200.0,9.5,961,235,702,156,1041,770.0,28.3,13.5,0.5139
2005-04-04 14:00:00,4/4/2005,14:00:00,2.2,1071,-200.0,11.9,1047,265,654,168,1129,816.0,28.5,13.1,0.5028

In [64]:
#Correlaci√≥n entre las variables que sea num√©rica
aire.corr()

,CO,oxEst,NMHC,Benz,Titania,NOx,oxTung,NO2,oxTung_2,oxInd,Temp,humRel,humAbs
CO,1.000000,0.033411,0.128484,0.030655,0.023333,0.519431,-0.094579,0.678760,-0.071228,0.075021,-0.065466,-0.048748,-0.045856
oxEst,0.033411,1.000000,0.169390,0.796991,0.933161,0.277384,0.088262,0.147283,0.844281,0.892374,0.753804,0.745100,0.764933
NMHC,0.128484,0.169390,1.000000,0.039624,0.109643,-0.004271,0.048344,0.104106,0.162764,0.100920,0.000148,0.008191,0.012507
Benz,0.030655,0.796991,0.039624,1.000000,0.718144,0.003670,0.476272,0.033202,0.737326,0.602201,0.926062,0.876136,0.984558
Titania,0.023333,0.933161,0.109643,0.718144,1.000000,0.330810,-0.072439,0.170419,0.874119,0.909895,0.668272,0.585727,0.646600
NOx,0.519431,0.277384,-0.004271,0.003670,0.330810,1.000000,-0.436475,0.811187,0.035750,0.461718,-0.138241,-0.053071,-0.095826
oxTung,-0.094579,0.088262,0.048344,0.476272,-0.072439,-0.436475,1.000000,-0.258286,0.122585,-0.207930,0.587448,0.573537,0.621657
NO2,0.678760,0.147283,0.104106,0.033202,0.170419,0.811187,-0.258286,1.000000,-0.021081,0.248310,-0.081684,-0.081531,-0.060408
oxTung_2,-0.071228,0.844281,0.162764,0.737326,0.874119,0.035750,0.122585,-0.021081,1.000000,0.723380,0.755070,0.640637,0.691922
oxInd,0.075021,0.892374,0.100920,0.602201,0.909895,0.461718,-0.207930,0.248310,0.723380,1.000000,0.503328,0.524991,0.519493
Temp,-0.065466,0.753804,0.000148,0.926062,0.668272,-0.138241,0.587448,-0.081684,0.755070,0.503328,1.000000,0.885740,0.981001
humRel,-0.048748,0.745100,0.008191,0.876136,0.585727,-0.053071,0.573537,-0.081531,0.640637,0.524991,0.885740,1.000000,0.943995
humAbs,-0.045856,0.764933,0.012507,0.984558,0.646600,-0.095826,0.621657,-0.060408,0.691922,0.519493,0.981001,0.943995,1.000000

In [66]:
aire.corr().values

array([[ 1.00000000e+00,  3.34112263e-02,  1.28483612e-01,
         3.06551189e-02,  2.33328697e-02,  5.19431410e-01,
        -9.45785358e-02,  6.78760320e-01, -7.12279086e-02,
         7.50206514e-02, -6.54663566e-02, -4.87476002e-02,
        -4.58563610e-02],
       [ 3.34112263e-02,  1.00000000e+00,  1.69390161e-01,
         7.96991215e-01,  9.33161169e-01,  2.77384397e-01,
         8.82621552e-02,  1.47282964e-01,  8.44281005e-01,
         8.92373624e-01,  7.53803757e-01,  7.45099765e-01,
         7.64933272e-01],
       [ 1.28483612e-01,  1.69390161e-01,  1.00000000e+00,
         3.96241239e-02,  1.09642527e-01, -4.27104217e-03,
         4.83441287e-02,  1.04105871e-01,  1.62763713e-01,
         1.00919958e-01,  1.48398660e-04,  8.19139136e-03,
         1.25066698e-02],
       [ 3.06551189e-02,  7.96991215e-01,  3.96241239e-02,
         1.00000000e+00,  7.18143586e-01,  3.66965341e-03,
         4.76271950e-01,  3.32019347e-02,  7.37325567e-01,
         6.02200846e-01,  9.26061535e-01,  8.76136346e-01,
         9.84558291e-01],
       [ 2.33328697e-02,  9.33161169e-01,  1.09642527e-01,
         7.18143586e-01,  1.00000000e+00,  3.30810153e-01,
        -7.24394784e-02,  1.70418610e-01,  8.74119158e-01,
         9.09894634e-01,  6.68271974e-01,  5.85726897e-01,
         6.46600070e-01],
       [ 5.19431410e-01,  2.77384397e-01, -4.27104217e-03,
         3.66965341e-03,  3.30810153e-01,  1.00000000e+00,
        -4.36474712e-01,  8.11187437e-01,  3.57501989e-02,
         4.61718465e-01, -1.38240669e-01, -5.30707921e-02,
        -9.58258894e-02],
       [-9.45785358e-02,  8.82621552e-02,  4.83441287e-02,
         4.76271950e-01, -7.24394784e-02, -4.36474712e-01,
         1.00000000e+00, -2.58286205e-01,  1.22585401e-01,
        -2.07929986e-01,  5.87448031e-01,  5.73537295e-01,
         6.21657136e-01],
       [ 6.78760320e-01,  1.47282964e-01,  1.04105871e-01,
         3.32019347e-02,  1.70418610e-01,  8.11187437e-01,
        -2.58286205e-01,  1.00000000e+00, -2.10805601e-02,
         2.48310243e-01, -8.16835533e-02, -8.15312613e-02,
        -6.04081461e-02],
       [-7.12279086e-02,  8.44281005e-01,  1.62763713e-01,
         7.37325567e-01,  8.74119158e-01,  3.57501989e-02,
         1.22585401e-01, -2.10805601e-02,  1.00000000e+00,
         7.23380258e-01,  7.55070396e-01,  6.40637184e-01,
         6.91921557e-01],
       [ 7.50206514e-02,  8.92373624e-01,  1.00919958e-01,
         6.02200846e-01,  9.09894634e-01,  4.61718465e-01,
        -2.07929986e-01,  2.48310243e-01,  7.23380258e-01,
         1.00000000e+00,  5.03328380e-01,  5.24990940e-01,
         5.19492759e-01],
       [-6.54663566e-02,  7.53803757e-01,  1.48398660e-04,
         9.26061535e-01,  6.68271974e-01, -1.38240669e-01,
         5.87448031e-01, -8.16835533e-02,  7.55070396e-01,
         5.03328380e-01,  1.00000000e+00,  8.85739509e-01,
         9.81001133e-01],
       [-4.87476002e-02,  7.45099765e-01,  8.19139136e-03,
         8.76136346e-01,  5.85726897e-01, -5.30707921e-02,
         5.73537295e-01, -8.15312613e-02,  6.40637184e-01,
         5.24990940e-01,  8.85739509e-01,  1.00000000e+00,
         9.43995481e-01],
       [-4.58563610e-02,  7.64933272e-01,  1.25066698e-02,
         9.84558291e-01,  6.46600070e-01, -9.58258894e-02,
         6.21657136e-01, -6.04081461e-02,  6.91921557e-01,
         5.19492759e-01,  9.81001133e-01,  9.43995481e-01,
         1.00000000e+00]])

In [79]:
aire.set_index('dt', inplace=True)

In [90]:
aire.loc['2004-06-01':'2004-07-01','CO']

dt
2004-06-01 00:00:00      0.3
2004-06-01 01:00:00   -200.0
2004-06-01 02:00:00   -200.0
2004-06-01 03:00:00   -200.0
2004-06-01 04:00:00   -200.0
                       ...
2004-07-01 19:00:00      4.4
2004-07-01 20:00:00      3.4
2004-07-01 21:00:00      1.9
2004-07-01 22:00:00      2.1
2004-07-01 23:00:00      2.5
Name: CO, Length: 744, dtype: float64

In [91]:
jun2004 = aire.loc['2004-06-01':'2004-06-30 23:59:59']

In [92]:
#Creamos el setvde datos de Junio del 2004
jun2004.head()

,Fecha,Hora,CO,oxEst,NMHC,Benz,Titania,NOx,oxTung,NO2,oxTung_2,oxInd,Temp,humRel,humAbs
dt,,,,,,,,,,,,,,,
2004-06-01 00:00:00,1/6/2004,00:00:00,0.3,922,-200.0,4.7,750,46,1085,45,1585,685.0,18.6,75.7,1.6074
2004-06-01 01:00:00,1/6/2004,01:00:00,-200.0,830,-200.0,2.9,644,17,1235,23,1487,524.0,19.6,68.4,1.5443
2004-06-01 02:00:00,1/6/2004,02:00:00,-200.0,805,-200.0,2.0,583,18,1339,26,1494,527.0,18.0,76.4,1.5608
2004-06-01 03:00:00,1/6/2004,03:00:00,-200.0,760,-200.0,1.1,505,-200,1527,-200,1413,452.0,17.3,77.2,1.5104
2004-06-01 04:00:00,1/6/2004,04:00:00,-200.0,783,-200.0,1.3,529,16,1437,24,1435,466.0,16.5,82.3,1.5318

In [93]:
#Exportando Junio del 2004
jun2004.to_csv('aire_junio_2004.csv')

In [94]:
#Eliminando columnas Fecha y Hora, luego solo guardamos ese cambio en la exportaci√≥n
jun2004.drop(columns=['Fecha','Hora']).to_csv('aire_junio_2004_1.csv')

In [95]:
#si deseo borrar definitivamente
jun2004.drop(columns=['Fecha','Hora'], inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [96]:
jun2004

,CO,oxEst,NMHC,Benz,Titania,NOx,oxTung,NO2,oxTung_2,oxInd,Temp,humRel,humAbs
dt,,,,,,,,,,,,,
2004-06-01 00:00:00,0.3,922,-200.0,4.7,750,46,1085,45,1585,685.0,18.6,75.7,1.6074
2004-06-01 01:00:00,-200.0,830,-200.0,2.9,644,17,1235,23,1487,524.0,19.6,68.4,1.5443
2004-06-01 02:00:00,-200.0,805,-200.0,2.0,583,18,1339,26,1494,527.0,18.0,76.4,1.5608
2004-06-01 03:00:00,-200.0,760,-200.0,1.1,505,-200,1527,-200,1413,452.0,17.3,77.2,1.5104
2004-06-01 04:00:00,-200.0,783,-200.0,1.3,529,16,1437,24,1435,466.0,16.5,82.3,1.5318
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2004-06-30 19:00:00,4.9,1352,-200.0,23.3,1385,280,563,197,2205,1661.0,34.0,32.9,1.7251
2004-06-30 20:00:00,3.5,1217,-200.0,17.6,1227,224,641,158,2040,1404.0,31.9,33.7,1.5663
2004-06-30 21:00:00,2.5,1149,-200.0,14.5,1132,137,688,124,1936,1233.0,30.2,37.6,1.5870
2004-06-30 22:00:00,2.5,1156,-200.0,14.4,1129,118,688,110,1941,1181.0,28.9,41.0,1.6096
2004-06-30 23:00:00,2.6,1180,-200.0,14.2,1122,128,678,112,1921,1272.0,27.8,45.2,1.6604

In [98]:
corrDf = aire.corr()
corrDf

,CO,oxEst,NMHC,Benz,Titania,NOx,oxTung,NO2,oxTung_2,oxInd,Temp,humRel,humAbs
CO,1.000000,0.033411,0.128484,0.030655,0.023333,0.519431,-0.094579,0.678760,-0.071228,0.075021,-0.065466,-0.048748,-0.045856
oxEst,0.033411,1.000000,0.169390,0.796991,0.933161,0.277384,0.088262,0.147283,0.844281,0.892374,0.753804,0.745100,0.764933
NMHC,0.128484,0.169390,1.000000,0.039624,0.109643,-0.004271,0.048344,0.104106,0.162764,0.100920,0.000148,0.008191,0.012507
Benz,0.030655,0.796991,0.039624,1.000000,0.718144,0.003670,0.476272,0.033202,0.737326,0.602201,0.926062,0.876136,0.984558
Titania,0.023333,0.933161,0.109643,0.718144,1.000000,0.330810,-0.072439,0.170419,0.874119,0.909895,0.668272,0.585727,0.646600
NOx,0.519431,0.277384,-0.004271,0.003670,0.330810,1.000000,-0.436475,0.811187,0.035750,0.461718,-0.138241,-0.053071,-0.095826
oxTung,-0.094579,0.088262,0.048344,0.476272,-0.072439,-0.436475,1.000000,-0.258286,0.122585,-0.207930,0.587448,0.573537,0.621657
NO2,0.678760,0.147283,0.104106,0.033202,0.170419,0.811187,-0.258286,1.000000,-0.021081,0.248310,-0.081684,-0.081531,-0.060408
oxTung_2,-0.071228,0.844281,0.162764,0.737326,0.874119,0.035750,0.122585,-0.021081,1.000000,0.723380,0.755070,0.640637,0.691922
oxInd,0.075021,0.892374,0.100920,0.602201,0.909895,0.461718,-0.207930,0.248310,0.723380,1.000000,0.503328,0.524991,0.519493
Temp,-0.065466,0.753804,0.000148,0.926062,0.668272,-0.138241,0.587448,-0.081684,0.755070,0.503328,1.000000,0.885740,0.981001
humRel,-0.048748,0.745100,0.008191,0.876136,0.585727,-0.053071,0.573537,-0.081531,0.640637,0.524991,0.885740,1.000000,0.943995
humAbs,-0.045856,0.764933,0.012507,0.984558,0.646600,-0.095826,0.621657,-0.060408,0.691922,0.519493,0.981001,0.943995,1.000000

In [99]:
#M√°scara que va pasar esa condici√≥n
corrDf > 0.8

,CO,oxEst,NMHC,Benz,Titania,NOx,oxTung,NO2,oxTung_2,oxInd,Temp,humRel,humAbs
CO,True,False,False,False,False,False,False,False,False,False,False,False,False
oxEst,False,True,False,False,True,False,False,False,True,True,False,False,False
NMHC,False,False,True,False,False,False,False,False,False,False,False,False,False
Benz,False,False,False,True,False,False,False,False,False,False,True,True,True
Titania,False,True,False,False,True,False,False,False,True,True,False,False,False
NOx,False,False,False,False,False,True,False,True,False,False,False,False,False
oxTung,False,False,False,False,False,False,True,False,False,False,False,False,False
NO2,False,False,False,False,False,True,False,True,False,False,False,False,False
oxTung_2,False,True,False,False,True,False,False,False,True,False,False,False,False
oxInd,False,True,False,False,True,False,False,False,False,True,False,False,False
Temp,False,False,False,True,False,False,False,False,False,False,True,True,True
humRel,False,False,False,True,False,False,False,False,False,False,True,True,True
humAbs,False,False,False,True,False,False,False,False,False,False,True,True,True

In [101]:
corrDf[corrDf > 0.8]

,CO,oxEst,NMHC,Benz,Titania,NOx,oxTung,NO2,oxTung_2,oxInd,Temp,humRel,humAbs
CO,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
oxEst,NaN,1.000000,NaN,NaN,0.933161,NaN,NaN,NaN,0.844281,0.892374,NaN,NaN,NaN
NMHC,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Benz,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.926062,0.876136,0.984558
Titania,NaN,0.933161,NaN,NaN,1.000000,NaN,NaN,NaN,0.874119,0.909895,NaN,NaN,NaN
NOx,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.811187,NaN,NaN,NaN,NaN,NaN
oxTung,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
NO2,NaN,NaN,NaN,NaN,NaN,0.811187,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
oxTung_2,NaN,0.844281,NaN,NaN,0.874119,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
oxInd,NaN,0.892374,NaN,NaN,0.909895,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
Temp,NaN,NaN,NaN,0.926062,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.885740,0.981001
humRel,NaN,NaN,NaN,0.876136,NaN,NaN,NaN,NaN,NaN,NaN,0.885740,1.000000,0.943995
humAbs,NaN,NaN,NaN,0.984558,NaN,NaN,NaN,NaN,NaN,NaN,0.981001,0.943995,1.000000

In [102]:
#Reemplazando los valores en blanco por "0"
corrDf[corrDf > 0.8].fillna(0)

,CO,oxEst,NMHC,Benz,Titania,NOx,oxTung,NO2,oxTung_2,oxInd,Temp,humRel,humAbs
CO,1.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
oxEst,0.0,1.000000,0.0,0.000000,0.933161,0.000000,0.0,0.000000,0.844281,0.892374,0.000000,0.000000,0.000000
NMHC,0.0,0.000000,1.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Benz,0.0,0.000000,0.0,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.926062,0.876136,0.984558
Titania,0.0,0.933161,0.0,0.000000,1.000000,0.000000,0.0,0.000000,0.874119,0.909895,0.000000,0.000000,0.000000
NOx,0.0,0.000000,0.0,0.000000,0.000000,1.000000,0.0,0.811187,0.000000,0.000000,0.000000,0.000000,0.000000
oxTung,0.0,0.000000,0.0,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
NO2,0.0,0.000000,0.0,0.000000,0.000000,0.811187,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
oxTung_2,0.0,0.844281,0.0,0.000000,0.874119,0.000000,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
oxInd,0.0,0.892374,0.0,0.000000,0.909895,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
Temp,0.0,0.000000,0.0,0.926062,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.000000,0.885740,0.981001
humRel,0.0,0.000000,0.0,0.876136,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.885740,1.000000,0.943995
humAbs,0.0,0.000000,0.0,0.984558,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.981001,0.943995,1.000000

In [103]:
#Se har√° correlaci√≥n de dos variables
aire[['oxInd','oxEst']].head()

                      oxInd  oxEst
dt
2004-03-10 18:00:00  1268.0   1360
2004-03-10 19:00:00   972.0   1292
2004-03-10 20:00:00  1074.0   1402
2004-03-10 21:00:00  1203.0   1376
2004-03-10 22:00:00  1110.0   1272

In [106]:
NewDf = aire[['oxInd','oxEst']]
NewDf.to_csv('altacorrelacion.csv')

In [109]:
NewDf.corr()

          oxInd     oxEst
oxInd  1.000000  0.892374
oxEst  0.892374  1.000000

In [113]:
aire.head()

,Fecha,Hora,CO,oxEst,NMHC,Benz,Titania,NOx,oxTung,NO2,oxTung_2,oxInd,Temp,humRel,humAbs
dt,,,,,,,,,,,,,,,
2004-03-10 18:00:00,10/3/2004,18:00:00,2.6,1360,150.0,11.9,1046,166,1056,113,1692,1268.0,13.6,48.9,0.7578
2004-03-10 19:00:00,10/3/2004,19:00:00,2.0,1292,112.0,9.4,955,103,1174,92,1559,972.0,13.3,47.7,0.7255
2004-03-10 20:00:00,10/3/2004,20:00:00,2.2,1402,88.0,9.0,939,131,1140,114,1555,1074.0,11.9,54.0,0.7502
2004-03-10 21:00:00,10/3/2004,21:00:00,2.2,1376,80.0,9.2,948,172,1092,122,1584,1203.0,11.0,60.0,0.7867
2004-03-10 22:00:00,10/3/2004,22:00:00,1.6,1272,51.0,6.5,836,131,1205,116,1490,1110.0,11.2,59.6,0.7888

In [111]:
#Creo una funci√≥n que me retorne si para los valores mayores a 1000 en "oxInd"
def newVal(x):
    if x>1000:
        return 'Yes'
    else :
        return 'No'

In [112]:
aire['oxInd'].apply(lambda x: newVal(x))

dt
2004-03-10 18:00:00    Yes
2004-03-10 19:00:00     No
2004-03-10 20:00:00    Yes
2004-03-10 21:00:00    Yes
2004-03-10 22:00:00    Yes
                      ...
2005-04-04 10:00:00    Yes
2005-04-04 11:00:00    Yes
2005-04-04 12:00:00    Yes
2005-04-04 13:00:00     No
2005-04-04 14:00:00     No
Name: oxInd, Length: 9357, dtype: object